# See: https://projectlombok.org/features/

####################
# General configuration:
# Tell the configuration system to stop looking in parent directories for other configuration files
config.stopBubbling = true

####################
# Configuration for:
#   @lombok.Data
# I'd rather specify each annotation individually to make it slightly easier to understant what's
# going on
lombok.data.flagUsage = error

####################
# Configuration for:
#   @logback.EqualsAndHashCode
lombok.equalsAndHashCode.doNotUseGetters = true

####################
# Configuration for:
#   @lombok.experimental.ExtensionMethod
# I want to use this feature but don't want to have to add @ExtensionMethod annotations all over
# the place so I'll will wait to see what happens with
# https://github.com/rzwitserloot/lombok/issues/922 first.
lombok.extensionMethod.flagUsage = error

####################
# Configuration for:
#   @lombok.experimental.FieldDefaults
# I'd rather not change the default finallity or visibility of fields
lombok.fieldDefaults.flagUsage = error

####################
# Configuration for:
#   @lombok.extern.apachecommons.CommonsLog
#   @lombok.extern.log4j.Log4j
#   @lombok.extern.log4j.Log4j2
#   @lombok.extern.java.Log
#   @lombok.extern.slf4j.Slf4j
#   @lombok.extern.slf4j.XSlf4j
lombok.log.fieldName = logger
# Ensure only @SLF4J is used for logging
lombok.log.apacheCommons.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.xslf4j.flagUsage = error

####################
# Configuration for:
#   @lombok.ToString
lombok.toString.doNotUseGetters = true

####################
# Configuration for:
#   @lombok.Value
# I'd rather not change the default finallity or visibility of fields
lombok.value.flagUsage = error

####################
# Configuration for:
#   @lombok.experimental.Wither
# I'd rather write my own for now
lombok.wither.flagUsage = error
